In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [2]:
csvfile = pd.read_csv("data.csv")
csvfile.head()

,Name,Disaster,Begin Date,End Date,Cost,Deaths,Year
0,Southeastern Severe Storms (March 2018),Severe Storm,20180318,20180321,1310.0,3,2018
1,Northeast Winter Storm (March 2018),Winter Storm,20180301,20180303,1770.0,9,2018
2,Central and Eastern Winter Storm (January 2018),Winter Storm,20180103,20180105,1043.0,22,2018
3,"Western Wildfires, California Firestorm (Summe...",Wildfire,20170601,20171231,18185.1,54,2017
4,"North Dakota, South Dakota and Montana Drought...",Drought,20170301,20171231,2525.0,0,2017

In [3]:
engine = create_engine("sqlite:///noaa.sqlite")

In [4]:
Base = declarative_base()

In [5]:
class Disaster (Base):
    __tablename__ = "Disaster"
    id = Column(Integer, primary_key=True)
    Name = Column(String)
    Disaster = Column(String)
    BeginDate = Column(String)
    EndDate = Column(String)
    Cost = Column(Integer)
    Deaths = Column(Integer)
    Year = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.Disaster}"

In [6]:
Base.metadata.create_all(engine)

In [7]:
engine.table_names()

['Disaster']

In [8]:
def populate_table(engine, table, csvfile):
    conn = engine.connect()
    df_of_data_to_insert = pd.read_csv(csvfile)
    noaadata = df_of_data_to_insert.to_dict(orient='records')
    conn.execute(table.delete())
    conn.execute(table.insert(), noaadata)
populate_table(engine, Disaster.__table__, 'data.csv')

In [9]:
engine.execute("SELECT * FROM Disaster LIMIT 1").fetchall()

[(1, 'Southeastern Severe Storms (March 2018)', 'Severe Storm', None, None, 1310, 3, 2018.0)]